.asu-breadcrumbs {
  background-color: $breadcrumb-background-color;
  border-bottom: 1px $breadcrumb-border-color solid;
  
  .breadcrumb { 
    margin: 12px 0;
    padding-left: 2px;
   
    a {  
      opacity: .8;
  }
  
    a:hover { 
      opacity: 1;
    }
  }
}
